name: Deploy to HostGator

on:
  push:
    branches:
      - main

jobs:
  ftp-deploy:
    name: Deploy via FTP
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: FTP Deploy
        uses: SamKirkland/FTP-Deploy-Action@v4.3.0
        with:
          server: ${{ secrets.HOSTGATOR_HOST }}
          username: ${{ secrets.HOSTGATOR_USER }}
          password: ${{ secrets.HOSTGATOR_PASSWORD }}
          server-dir: ${{ secrets.HOSTGATOR_DIR }}/
          local-dir: "./"
          protocol: "ftp"
          port: 21
